body {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.titlename { 
	color: grey;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 1px;
}

.picofme {
	padding-top: 10px;
	width: 400px;
	height: 400px;
	background-repeat: no-repeat;
	background-size: contain;
	border: 2px gold;
	object-fit: contain;
}

.bigthing {
	text-align: center;
	margin: auto;
	width: 80%;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: auto;
}

.bigthing::after {
	content: "";
	clear: both;
	display: table;
}

.bigtext {
	padding-top: 30px;
	width: 75%;
	text-align: center;
	margin: auto;
	padding-bottom: 100px;
}

.introtext {
	font-size: 110%;
	font-weight: bold;
}

footer {
	background-color: #fff5d1;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.icons {
    opacity: 0.4;
    max-width: 30px;
    transition: 1s;
}

.icons:hover {
	transform: rotate(720deg);
	opacity: 1;
}

.copyright {
	float: right;
	padding-top: 6px;
	padding-right: 40px;
	opacity: 0.6;
}