.header {
	margin: auto;
	text-align: center;
	font-family: 'Baskervville', serif;
}

.socials {
	margin: auto;
	text-align: center;
	padding-top: 50px;
	font-family: 'Baskervville', serif;
}

.icons {
    opacity: 0.75;
    max-width: 30px;
    transition: 1s;
}

.icons:hover {
	transform: rotate(720deg);
	opacity: 1;
}

.blurb {
	padding-top: 50px;
	margin: auto;
	text-align: center;
	font-family: 'Baskervville', serif;
}

.textlink:link {
	text-shadow: .25px .25px #274028;
	transition: 0.5s;
	color: #025B00; 
	background-color: transparent; 
	text-decoration: none;
}

.textlink:visited {
  	text-shadow: .25px .25px #274028;
	color: #024F00;
	background-color: transparent;
	text-decoration: none;
}

footer {
    bottom:12px;
    text-align: center;
    position: fixed;
    width: 100%;
}

.footer {
	font-family: 'Baskervville', serif;
}
