body {
	font-family: 'Lato', sans-serif;
	background-color: #fefefe;
}

#container {
	margin: 2% auto 0% auto;
	width: 80%;
}

#selfie {
	width: 48%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#content {
	width: 48%;
	float: right;
}

p {
	font-size: 16.5px;
}

a {
	font-weight: bold;
	color: navy;
	text-decoration: none;
}

#container1 {
	width: 100%;
	position: relative;
}

.panel {
	display: inline-block;
	width: 44%;
	height: 180px;
	vertical-align: top;
	padding: 1%;
	margin: 2%;
	overflow: auto;
}

.icon{
	width: 75px;
	height: 75px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.flap {
	position: absolute;
	display: inline-block;
	width: 44%;
	height: 180px;
	padding: 1%;
	background-color: white;
	transition: 0.1s;
	margin: 2%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

.flap:hover {
	opacity: 0;
}