.researchdetails {
	margin: auto;
	text-align: left;
	font-family: 'Baskervville', serif;
	padding-top: 35px;
	padding-left: 35px;
	padding-right: 35px;
}

.textlink:link {
  	text-shadow: .25px .25px #274028;
	transition: 0.5s;
	color: #025B00; 
	background-color: transparent; 
	text-decoration: none;
}

.textlink:visited {
	text-shadow: .25px .25px #274028;
	color: #024F00;
	background-color: transparent;
	text-decoration: none;
}

footer {
    bottom:12px;
    text-align: center;
    position: fixed;
    width: 100%;
}

.footer {
	font-family: 'Baskervville', serif;
}
